.profile-main {
    text-align: center;
}

.h2{
    color: #282c34;
}

.h3{
    color: #282c34;
}

.profile-form {
    border-style: solid;
    /* width: 25ch; */
}

.profile-update-message {
    color: #282c34;
}